

<!-- Page Footer -->
<div class="hk-footer">
    <footer class="container-xxl footer">
        <div class="row">
            <div class="col-xl-8">
                <p class="footer-text"><span class="copy-text">Jampack © 2023 All rights reserved.</span> <a href="#" class="" target="_blank">Privacy Policy</a><span class="footer-link-sep">|</span><a href="#" class="" target="_blank">T&C</a><span class="footer-link-sep">|</span><a href="#" class="" target="_blank">System Status</a></p>
            </div>
            <div class="col-xl-4">
                <a href="#" class="footer-extr-link link-default"><span class="feather-icon"><i data-feather="external-link"></i></span><u>Send feedback to our help forum</u></a>
            </div>
        </div>
    </footer>
</div>
<!-- / Page Footer -->

</div>
<!-- /Main Content -->
</div>
<!-- /Wrapper -->

<!-- jQuery -->
<script src="/vendors/jquery/dist/jquery.min.js"></script>

<!-- Bootstrap Core JS -->
<script src="/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<!-- FeatherIcons JS -->
<script src="/dist/js/feather.min.js"></script>

<!-- Fancy Dropdown JS -->
<script src="/dist/js/dropdown-bootstrap-extended.js"></script>

<!-- Simplebar JS -->
<script src="/vendors/simplebar/dist/simplebar.min.js"></script>

<!-- Data Table JS -->
<script src="/vendors/datatables.net/js/dataTables.min.js"></script>
<script src="/vendors/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
<script src="/vendors/datatables.net-select/js/dataTables.select.min.js"></script>

<!-- Daterangepicker JS -->
<script src="/vendors/moment/min/moment.min.js"></script>
<script src="/vendors/daterangepicker/daterangepicker.js"></script>
<script src="/dist/js/daterangepicker-data.js"></script>

<!-- Amcharts Maps JS -->
<script src="../../../../cdn.amcharts.com/lib/5/index.js"></script>
<script src="../../../../cdn.amcharts.com/lib/5/map.js"></script> 
<script src="../../../../cdn.amcharts.com/lib/5/geodata/worldLow.js"></script>
<script src="../../../../cdn.amcharts.com/lib/5/themes/Animated.js"></script>

<!-- Apex JS -->
<script src="/vendors/apexcharts/dist/apexcharts.min.js"></script>

<!-- Init JS -->
<script src="/dist/js/init.js"></script>
<script src="/dist/js/chips-init.js"></script>
<script src="/dist/js/dashboard-data.js"></script>
</body>

<!-- Mirrored from hencework.com/theme/jampack/horizontal/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 07 Sep 2024 04:22:45 GMT -->
</html>


<style>

    /* Style for the loader and overlay */
  
    #loader-overlay {
  
      position: fixed;
  
      top: 0;
  
      left: 0;
  
      width: 100%;
  
      height: 100%;
  
      background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  
      display: none;
  
      justify-content: center;
  
      align-items: center;
  
      z-index: 9999;
  
    }
  
    #loader {
  
      border: 8px solid #f3f3f3;
  
      border-top: 8px solid #3498db;
  
      border-radius: 50%;
  
      width: 50px;
  
      height: 50px;
  
      animation: spin 1s linear infinite;
  
    }
  
    @keyframes spin {
  
      0% { transform: rotate(0deg); }
  
      100% { transform: rotate(360deg); }
  
    }
  
  </style>
  
  <div id="loader-overlay">
  
    <div id="loader"></div>
  
  </div>


<script>
  

function formatDate(date) {
    const dd = String(date.getDate()).padStart(2, '0');
    const mm = String(date.getMonth() + 1).padStart(2, '0'); // January is 0!
    const yyyy = date.getFullYear();
    return yyyy + '-' + mm + '-' + dd ;
  }


  function getCurrentDate() {
    const today = new Date();
    return formatDate(today);
  }



  document.addEventListener('DOMContentLoaded', function() {
    const dateInput = document.querySelector('input[name="date"]');
    dateInput.value = getCurrentDate();
});
</script>