<!DOCTYPE html>
<!-- 
Jampack
Author: Hencework
Contact: contact@hencework.com
-->
<html lang="en">

<!-- Mirrored from hencework.com/theme/jampack/horizontal/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 07 Sep 2024 04:22:25 GMT -->
<head>
    <!-- Meta Tags -->
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TrakMoney - Vendor Dashboard</title>
    <meta name="description" content="A modern CRM Dashboard Template with reusable and flexible components for your SaaS web applications by hencework. Based on Bootstrap."/>
    
	<!-- Favicon -->
    <link rel="shortcut icon" href="/images/favicon.png">
    <link rel="icon" href="/images/favicon.png" type="image/x-icon">
	
	<!-- Daterangepicker CSS -->
    <link href="/vendors/daterangepicker/daterangepicker.css" rel="stylesheet" type="text/css" />

	<!-- Data Table CSS -->
    <link href="/vendors/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet" type="text/css" />
    <link href="/vendors/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css" rel="stylesheet" type="text/css" />

	<!-- CSS -->
    <link href="/dist/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
	<!-- Wrapper -->
	<div class="hk-wrapper" data-layout="horizontal" data-layout-style="default" data-menu="light" data-footer="simple">
		<!-- Top Navbar -->
		<nav class="hk-navbar navbar navbar-expand-xl navbar-light fixed-top">
			<div class="container-fluid">
			<!-- Start Nav -->
			<div class="nav-start-wrap">
				<!-- Brand -->
				<a class="navbar-brand d-xl-flex d-none" href="/">
					
					<img class="brand-img img-fluid" src="/images/logo.png" alt="brand" style="width: 200px;"/>
				</a>
				<!-- /Brand -->
				<button class="btn btn-icon btn-rounded btn-flush-dark flush-soft-hover navbar-toggle d-xl-none"><span class="icon"><span class="feather-icon"><i data-feather="align-left"></i></span></span></button>
					
				<!-- Search -->
				
				<!-- /Search -->
			</div>
			<!-- /Start Nav -->
			
			<!-- End Nav -->
			<div class="nav-end-wrap">
				<ul class="navbar-nav flex-row">
				
					
					<li class="nav-item">
						<div class="dropdown ps-2">
							<a class=" dropdown-toggle no-caret" href="#" role="button" data-bs-display="static" data-bs-toggle="dropdown" data-dropdown-animation data-bs-auto-close="outside" aria-expanded="false">
								<div class="avatar avatar-rounded avatar-xs">
									<img src="/dist/img/avatar12.jpg" alt="user" class="avatar-img">
								</div>
							</a>
							<div class="dropdown-menu dropdown-menu-end">
								<div class="p-2">
									<div class="media">
										<div class="media-head me-2">
											<div class="avatar avatar-primary avatar-sm avatar-rounded">
												<span class="initial-wrap">Hk</span>
											</div>
										</div>
										<div class="media-body">
											<div class="dropdown">
												<a href="#" class="d-block dropdown-toggle link-dark fw-medium"  data-bs-toggle="dropdown" data-dropdown-animation data-bs-auto-close="inside">Hencework</a>
												<div class="dropdown-menu dropdown-menu-end">
													<div class="p-2">
														<div class="media align-items-center active-user mb-3">
															<div class="media-head me-2">
																<div class="avatar avatar-primary avatar-xs avatar-rounded">
																	<span class="initial-wrap">Hk</span>
																</div>
															</div>
															<div class="media-body">
																<a href="#" class="d-flex align-items-center link-dark">Hencework <i class="ri-checkbox-circle-fill fs-7 text-primary ms-1"></i></a>
																<a href="#" class="d-block fs-8 link-secondary"><u>Manage your account</u></a>
															</div>
														</div>
														<div class="media align-items-center mb-3">
															<div class="media-head me-2">
																<div class="avatar avatar-xs avatar-rounded">
																	<img src="/dist/img/avatar12.jpg" alt="user" class="avatar-img">
																</div>
															</div>
															<div class="media-body">
																<a href="#" class="d-block link-dark">Jampack Team</a>
																<a href="#" class="d-block fs-8 link-secondary">contact@hencework.com</a>
															</div>
														</div>
														<button class="btn btn-block btn-outline-light btn-sm">
															<span><span class="icon"><span class="feather-icon"><i data-feather="plus"></i></span></span>
															<span>Add Account</span></span>
														</button>
													</div>
												</div>
											</div>
											<div class="fs-7">contact@hencework.com</div>
											<a href="/sign-out" class="d-block fs-8 link-secondary"><u>Sign Out</u></a>
										</div>
									</div>
								</div>
								
							</div>
						</div>
					</li>
				</ul>
			</div>
			<!-- /End Nav -->
			</div>									
		</nav>



          <!-- Horizontal Nav -->
		<div class="hk-menu">
			<!-- Brand -->
			<div class="menu-header d-xl-none">
				<span>
					<a class="navbar-brand" href="/">
						<img class="brand-img img-fluid" src="/images/logo.png" alt="brand" style="width: 175px;"/>
					</a>
					<button class="btn btn-icon btn-rounded btn-flush-dark flush-soft-hover navbar-toggle">
						<span class="icon">
							<span class="svg-icon fs-5">
								<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-bar-to-left" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
									<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
									<line x1="10" y1="12" x2="20" y2="12"></line>
									<line x1="10" y1="12" x2="14" y2="16"></line>
									<line x1="10" y1="12" x2="14" y2="8"></line>
									<line x1="4" y1="4" x2="4" y2="20"></line>
								</svg>
							</span>
						</span>
					</button>
				</span>
			</div>
			<!-- /Brand -->
			
			<!-- Main Menu -->
			<div data-simplebar class="nicescroll-bar">
				<div class="menu-content-wrap">
					<div class="container-fluid menu-group">
						<ul class="navbar-nav flex-column">
							<li class="nav-item active">
								<a class="nav-link" href="/">
									<span class="nav-icon-wrap">
										<span class="svg-icon">
											<img src="https://img.icons8.com/?size=25&id=83326&format=png&color=000000">
										</span>
									</span>
									<span class="nav-link-text">Dashboard</span>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#dash_chat">
									<span class="nav-icon-wrap">
										<span class="svg-icon">
											<img src="https://img.icons8.com/?size=25&id=n5JFkI9F8Ywi&format=png&color=000000">

										</span>
									</span>
									<span class="nav-link-text">Loan (गहने)</span>
								</a>
								<ul id="dash_chat" class="nav flex-column collapse   nav-children">
									<li class="nav-item">
										<ul class="nav flex-column">
											<li class="nav-item">
												<a class="nav-link" href="/dashboard/new_loan"><span class="nav-link-text">New Loan (नए गहने)</span></a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="/dashboard/loan/list"><span class="nav-link-text">Loan List (गहने की सूची)</span></a>
											</li>
											<li class="nav-item"></li>
												<a class="nav-link" href="/dashboard/one/year/old/loan"><span class="nav-link-text">1 year old Funds (एक साल पुराने गहने)</span></a>
											</li>

											<li class="nav-item"></li>
												<a class="nav-link" href="/dashboard/loan/history"><span class="nav-link-text">History (पुराने गहने की सूची)</span></a>
											</li>
											
										
										</ul>
									</li>
								</ul>
							</li>


                            <li class="nav-item">
								<a class="nav-link" href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#dash_customer">
									<span class="nav-icon-wrap">
										<span class="svg-icon">
											<img src="https://img.icons8.com/?size=25&id=12438&format=png&color=000000">

										</span>
									</span>
									<span class="nav-link-text">Customer (ग्राहक)</span>
								</a>
								<ul id="dash_customer" class="nav flex-column collapse   nav-children">
									<li class="nav-item">
										<ul class="nav flex-column">
											<li class="nav-item">
												<a class="nav-link" href="/dashboard/new_customer"><span class="nav-link-text">New Customer (नए ग्राहक)</span></a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="/dashboard/customer/list"><span class="nav-link-text">Customer List (ग्राहक की सूची)</span></a>
											</li>
											
										
										</ul>
									</li>
								</ul>
							</li>

							<!-- <li class="nav-item">
								<a class="nav-link" href="email.html">
									<span class="nav-icon-wrap">
										<span class="svg-icon">
											<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-inbox" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
												<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
												<rect x="4" y="4" width="16" height="16" rx="2" />
												<path d="M4 13h3l3 3h4l3 -3h3" />
											</svg>
										</span>
									</span>
									<span class="nav-link-text">Transfer</span>
								</a>
							</li> -->
							
							<li class="nav-item">
								<a class="nav-link" href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#dash_contact">
									<span class="nav-icon-wrap">
										<span class="svg-icon">
											<img src="https://img.icons8.com/?size=25&id=5fUaYUne6ZMR&format=png&color=000000">

										</span>
									</span>
									<span class="nav-link-text">Investor (व्यापारी)</span>
								</a>
								<ul id="dash_contact" class="nav flex-column collapse   nav-children">
									<li class="nav-item">
										<ul class="nav flex-column">
											<li class="nav-item">
												<a class="nav-link" href="/dashboard/new_investor"><span class="nav-link-text">New Investor (नए व्यापारी)</span></a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="/dashboard/investor/list"><span class="nav-link-text">Investor List (व्यापारी की सूची)</span></a>
											</li>
											
										</ul>
									</li>
								</ul>
							</li>
							
							
						
							
						</ul>	
					</div>
				</div>
			</div>
			<!-- /Main Menu -->
		</div>
        <div id="hk_menu_backdrop" class="hk-menu-backdrop"></div>
        <!-- /Horizontal Nav -->