<%- include ('.././header.ejs') %>
<div class="hk-pg-wrapper">
    <div class="container-xxl">
         <!-- Page Header -->
         <div class="hk-pg-header pg-header-wth-tab pt-7">
            <div class="d-flex">

                <div class="d-flex flex-wrap justify-content-between flex-1">
                    <div class="mb-lg-0 mb-2 me-8">
                        <h1 class="pg-title" style="color: #1B5E20;">New Customer (नए ग्राहक)</h1>
                        <p style="margin-top: 20px;"></p>

                    </div>
                    <div class="pg-header-action-wrap">
                        <div class="input-group w-300p">
                            <span class="input-affix-wrapper">
                                <span class="input-prefix"><span class="feather-icon"><i data-feather="calendar"></i></span></span>
                                <input class="form-control form-wth-icon" name="date" id="date" readonly>


                            </span>
                        </div>
                    </div>
                </div>
            </div>

            
            
       
        </div>
        <!-- /Page Header -->									
        <form class="row g-3 mt-5" id="myForm" method="post" enctype="multipart/form-data">
            <div class="col-md-6">
                <label for="name" class="form-label">Customer Name (ग्राहक का नाम)</label>
                <input type="text" name="name" id="name" required class="form-control" placeholder="Customer Name (ग्राहक का नाम)">
            </div>
            <div class="col-md-6">
                <label for="father_name" class="form-label">Father Name (पिता का नाम)</label>
                <input type="text" name="father_name" id="father_name" required class="form-control" placeholder="Father Name (पिता का नाम)">
            </div>
            <div class="col-md-6">
                <label for="number" class="form-label"> Mobile Number (मोबाइल नंबर)</label>
                <input type="text" name="number" id="number" class="form-control" placeholder="Mobile Number (मोबाइल नंबर)">
            </div>
            <div class="col-md-6">
                <label for="alternate_number" class="form-label">Alternate Mobile Number (वैकल्पिक मोबाइल नंबर)</label>
                <input type="text" name="alternate_number" id="alternate_number" class="form-control" placeholder="Alternate Mobile Number (वैकल्पिक मोबाइल नंबर)">
            </div>
            <!-- <div class="col-md-12">
                <label for="photo" class="form-label">Photo (फोटो)</label>
                <input type="file" class="form-control" id="photo" required>
            </div> -->
            <div class="col-12">
                <label for="address" class="form-label">Address (ग्राहक का पता)</label>
                <textarea class="form-control" id="address" name="address" placeholder="Address (ग्राहक का पता)" required></textarea>
            </div>

            <div class="col-12">
                <button type="button" onclick="submitForm()" style="float: right;" class="btn btn-primary">Save (सेव करें)</button>
            </div>
        </form>


<%- include ('.././footer.ejs') %>



     



<script>
function submitForm() {
    const name = $('#name').val();
    const father_name = $('#father_name').val();
    const number = $('#number').val();
    const photo = $('#photo').val();
    const address = $('#address').val();
    const alternate_number = $('#alternate_number').val();


    // Basic validation checks
    if (name === '') {
        alert('Enter Customer Name');
        return;
    } else if (father_name === '') {
        alert('Enter Father Name');
        return;
    } else if (address === '') {
        alert('Enter Customer Address');
        return;
    // } else if (photo === '') {
    //     alert('Select Customer Photo');
    //     return;
    // }

    // const url = "https://api.cloudinary.com/v1_1/dciqc2rgl/image/upload";
    // const loaderOverlay = document.getElementById("loader-overlay");
    // loaderOverlay.style.display = "flex"; // Show overlay

    // const fileInput = document.querySelector("[type=file]");
    // const file = fileInput.files[0];

    // // Check if a file is selected
    // if (!file) {
    //     alert('No photo selected');
    //     loaderOverlay.style.display = "none"; // Hide overlay if no file
    //     return;
    // }

    // const formData = new FormData();
    // formData.append("file", file);
    // formData.append("upload_preset", "docs_upload_example_us_preset");

    // // Upload the photo to Cloudinary
    // fetch(url, {
    //     method: "POST",
    //     body: formData,
    // })
    //     .then((response) => response.json())
    //     .then((data) => {
    //         const photoUrl = data.url; // Get uploaded photo URL

            // Send customer data to the server
            $.post('/dashboard/data/customer/insert', {  name, number, father_name, address,alternate_number }, (data) => {
                if (data.msg === 'success') {
                    alert('Success');
                    window.location.reload()
                } else {
                    alert('An Error Occured Please Try again Later');
                }
                loaderOverlay.style.display = "none"; // Hide overlay after response
            });
        // })
        // .catch((error) => {
        //     console.error("Error:", error);
        //     alert('Photo upload failed');
        //     loaderOverlay.style.display = "none"; // Hide overlay if there's an error
        // });
}


  </script>
  

													